.questionWrapper {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.questionsBox {
    margin-top: 20px;
    border: 3px solid gray;
    width: 800px;
    min-height: 400px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    line-height: 1.7;
}
.fields {
    padding: 20px;
    width: 90%;
    text-align: left;
}
.proceedBtn {
    padding: 20px;
    margin-left: 10px !important;
}
.questionButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}
.quesBtn {
    margin: 20px !important;
}
.question {
    padding-top: 20px;
    text-align: left;
}
.w-100 {
    width: 100%;
}
.tableContainer {
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 30px;
    box-shadow: none !important;
}
.table {
    width: 50% !important;
    border: 1px solid #31313121;
}

/* App.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 90vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .chat-container {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .chat-messages {
    padding: 16px;
    height: 75vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .botMessage {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 80%;
    align-self: flex-start;
  }

  .userMessage {
    background-color: #4800ff96;
    float: right;
    color: #ffffff;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 80%;
    align-self: flex-end;
  }
  
  .message-form {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f8f9fa;
  }
  
  .message-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 10px;
    outline: none;
  }
  
  .send-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
  }
  
  .send-button:hover {
    background-color: #005
  }  

.summaryWrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.tableTitle {
  text-align: center;
}
.currentReview {
  padding: 20px 30px;
  color: #605e5e;
  font-size: 15px;
}